<div class="m-4 pb-4">
  <div class="row">
    <div class="col-lg-12">
     <div class="jumbotron jumbotron-fluid">
       <div class="container">
         <h1 class="display-4">Beneficios del club</h1>
       </div>
     </div>
    </div>
   </div>
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <tbody>
		    <tr>
		      <td class="w-25">
			      <img src="../../../../../assets/images/piscinas.jpg" class="img-fluid img-thumbnail" alt="piscinas">
		      </td>
		      <td><h3>Piscinas de primer nivel</h3></td>
		    </tr>
		    <tr>
		      <td class="w-25">
			      <img src="../../../../../assets/images/cancha.jpg" class="img-fluid img-thumbnail" alt="cancha">
		      </td>
		      <td><h3>Instalaciones deportivas listas para cualquier evento</h3></td>
		    </tr>
        <tr>
		      <td class="w-25">
			      <img src="../../../../../assets/images/tenis.jpg" class="img-fluid img-thumbnail" alt="tenis">
		      </td>
		      <td><h3>Escuela de Tenis para todas las edades</h3></td>
		    </tr>
        <tr>
		      <td class="w-25">
			      <img src="../../../../../assets/images/sala_eventos.jpg" class="img-fluid img-thumbnail" alt="sala_eventos">
		      </td>
		      <td><h3>Sala de eventos preparada para cualquier celebración</h3></td>
		    </tr>
        <tr>
		      <td class="w-25">
			      <img src="../../../../../assets/images/sala_conferencias.jpg" class="img-fluid img-thumbnail" alt="sala_conf">
		      </td>
		      <td><h3>Sala de conferencias para tus reuniones de negocios</h3></td>
		    </tr>
		  </tbody>
		</table>   
    </div>
  </div>
</div>