<div class="m-4 pb-4">
  <div class="row">
   <div class="col-lg-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Noticia title</h1>
      </div>
    </div>
   </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="news-body">
        <img src="../../../../../assets/images/eleccion.jpg" alt="">
        <div class="news-info">
          <div class="news-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eum sequi distinctio aliquam voluptatibus explicabo architecto harum aut porro quas illum nostrum nihil sunt similique atque, facilis est doloremque itaque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eum sequi distinctio aliquam voluptatibus explicabo architecto harum aut porro quas illum nostrum nihil sunt similique atque, facilis est doloremque itaque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eum sequi distinctio aliquam voluptatibus explicabo architecto harum aut porro quas illum nostrum nihil sunt similique atque, facilis est doloremque itaque!</p>
          </div>
          <span class="news-autor">
            Autor: Antonios Nikopolidis
          </span>
        </div>
      </div>
    </div>
  </div>
</div>