.container-news {
  background: rgba(0,0,0,0.5) ;;
  width: 75%;
  border-radius: 20px;
  padding: 2%;
  margin-top: 3%;
  color: white;

  h2 {
    text-align: center;
  }

  .news-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
    .news-text {
      padding: 2%;
      text-align: justify;
      font-size: 20px;
    }
  }
}

.jumbotron {
  background: rgba(0,0,0,0.5) !important;
  color: white !important;
}