<div class="m-4 pb-4">
  <div class="row">
   <div class="col-lg-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Noticias</h1>
      </div>
    </div>
   </div>
  </div>

  <div class="row news-row">
    <div class="col-lg-6 col-md-12" style="display: flex; justify-content: center;">
      <div class="container-news">
        <h2 class="display-4">Noticia </h2>
        <div class="news-body">
          <img src="../../../../../assets/images/eleccion.jpg" alt="">
          <div class="news-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dolor ea quidem vel suscipit minima eaque, perferendis, sapiente aliquid neque explicabo. Atque reprehenderit officiis facilis voluptates labore, optio sunt adipisci!</p>
            <a routerLink="/partner/news/1" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12" style="display: flex; justify-content: center;">
      <div class="container-news">
        <h2 class="display-4">Noticia 2</h2>
        <div class="news-body">
          <img src="../../../../../assets/images/eleccion.jpg" alt="">
          <div class="news-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dolor ea quidem vel suscipit minima eaque, perferendis, sapiente aliquid neque explicabo. Atque reprehenderit officiis facilis voluptates labore, optio sunt adipisci!</p>
            <a routerLink="/partner/news/2" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row news-row">
    <div class="col-lg-6 col-md-12" style="display: flex; justify-content: center;">
      <div class="container-news">
        <h2 class="display-4">Noticia 3</h2>
        <div class="news-body">
          <img src="../../../../../assets/images/eleccion.jpg" alt="">
          <div class="news-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dolor ea quidem vel suscipit minima eaque, perferendis, sapiente aliquid neque explicabo. Atque reprehenderit officiis facilis voluptates labore, optio sunt adipisci!</p>
            <a routerLink="/partner/news/3" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12" style="display: flex; justify-content: center;">
      <div class="container-news">
        <h2 class="display-4">Noticia 4</h2>
        <div class="news-body">
          <img src="../../../../../assets/images/eleccion.jpg" alt="">
          <div class="news-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dolor ea quidem vel suscipit minima eaque, perferendis, sapiente aliquid neque explicabo. Atque reprehenderit officiis facilis voluptates labore, optio sunt adipisci!</p>
            <a routerLink="/partner/news/4" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>