<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="display-4">Club Demócrata</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="box">
        <h1>Registro</h1>
        <form [formGroup]="newUserForm">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Nombre(s) y Apellido(s)</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  minlength="4"
                  maxlength="20"
                  aria-describedby="emailHelp"
                  placeholder="Ingresa tu nombre completo"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Correo electrónico</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  minlength="4"
                  maxlength="40"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Teléfono</label>
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  formControlName="phone"
                  placeholder="Ingrese su teléfono"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                  minlength="4"
                  maxlength="20"
                  placeholder="Ingresa una contraseña"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Confirmar Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  minlength="4"
                  maxlength="20"
                  formControlName="confirmPassword"
                  placeholder="Confirma la contraseña"
                />
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="newUserForm.invalid"
            (click)="registerNewUser()"
          >
            Registrar
          </button>
          <div
            *ngIf="name.invalid && name.touched"
            class="alert alert-danger"
            role="alert"
          >
            Debes agregar un nombre válido: entre 4 y 20 carácteres.
          </div>
          <div
            *ngIf="phone.invalid && phone.touched"
            class="alert alert-danger"
            role="alert"
          >
            Debes agregar un teléfono nacional válido.
          </div>
          <div
            *ngIf="email.invalid && email.touched"
            class="alert alert-danger"
            role="alert"
          >
            Debes agregar un correo electrónico válido: entre 4 y 20 carácteres.
          </div>
          <div
            *ngIf="password.invalid && password.touched"
            class="alert alert-danger"
            role="alert"
          >
            Debes agregar una contraseña correcta válida: entre 8 y 20
            carácteres, con una minúscula, una mayúcusla y un carácter especial.
          </div>
          <div
            *ngIf="!confirmPasswordValue && confirmPassword.touched"
            class="alert alert-danger"
            role="alert"
          >
            Las contraseñas deben coincidir.
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <span> ¿Ya tienes una cuenta? </span>
      <button class="btn btn-secondary" routerLink="/login">
        Inicia sesión
      </button>
    </div>
  </div>
</div>
