<div class="m-4 pb-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Edita tu Perfil</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div
        class="col-md-12 mt-1"
        [ngClass]="user?.partner ? 'col-lg-8' : 'col-lg-12'"
      >
        <div class="box">
          <form [formGroup]="editProfileForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    minlength="4"
                    maxlength="20"
                    aria-describedby="emailHelp"
                    placeholder="Ingresa tu nombre"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    minlength="4"
                    maxlength="40"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    formControlName="password"
                    minlength="4"
                    maxlength="20"
                    formControlName="phone"
                    placeholder="Ingrese su teléfono"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                    minlength="4"
                    maxlength="20"
                    placeholder="Ingresa una contraseña"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Confirmar Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    minlength="4"
                    maxlength="20"
                    placeholder="Confirma la contraseña"
                  />
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="editProfileForm.invalid"
              (click)="updateUser()"
            >
              Guardar cambios
            </button>
            <div
              *ngIf="name.invalid && name.touched"
              class="alert alert-danger"
              role="alert"
            >
              Debes agregar un nombre válido: entre 4 y 20 carácteres.
            </div>
            <div
              *ngIf="phone.invalid && phone.touched"
              class="alert alert-danger"
              role="alert"
            >
              Debes agregar un teléfono nacional válido.
            </div>
            <div
              *ngIf="email.invalid && email.touched"
              class="alert alert-danger"
              role="alert"
            >
              Debes agregar un correo electrónico válido: entre 4 y 20
              carácteres.
            </div>
            <div
              *ngIf="password.invalid && password.touched"
              class="alert alert-danger"
              role="alert"
            >
              Debes agregar una contraseña correcta válida: entre 8 y 20
              carácteres, con una minúscula, una mayúcusla y un carácter
              especial.
            </div>
            <div
              *ngIf="!confirmPasswordValue && confirmPassword.touched"
              class="alert alert-danger"
              role="alert"
            >
              Las contraseñas deben coincidir.
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mt-1" *ngIf="user?.partner">
        <form>
          <fieldset>
            <div class="form-group">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Tipo de Membresía</label>
                  <select
                    class="custom-select my-1 mr-sm-2"
                    id="inlineFormCustomSelectPref"
                    [(ngModel)]="profileType"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option value="0">Eliminar membresía</option>
                    <option value="1">Bronce</option>
                    <option value="2">Plata</option>
                    <option value="3">Oro</option>
                  </select>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="upgradePartnerType()"
                style="margin-left: 5%"
              >
                Actualizar membresía
              </button>
              <div
                *ngIf="showAlertUpdate"
                class="alert alert-primary partnetAlert"
                role="alert"
              >
                Status de Socio actualizado
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
