
.form-container {
  background: rgba(0,0,0,0.5) !important;
  padding: 5%;
}

.form-group {
  display: flex;
  width: 100%;

  label {
    width: 180px;
    font-size: 18px;
    color: white;
  }

  input {
    width: 70%;
  }
}